<h2>Post details:</h2>

    <%= @row['created_date'] %>
    <br />
    <p> <%= @row['content'] %> </p>
    <br />
    
    <hr />
    <br />
<h4>Comments:</h4>
<% @comment.each do |comment| %>
  <br />
  <p>
    <%= comment['id']%>)
    <%= comment['content']%>  
  </p>
  <hr />
<%end%>
<form action="/post/<%= @row['id'] %>" method="post" role="form">
  <textarea name="content" class="form-control" rows="6" placeholder="Type your COMMENT text here"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>

